PORT=5000
DB_URL=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/<DB_NAME>?retryWrites=true&w=majority

NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_EXPIREDATE=30d

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES=60d

# Bcrypt
BCRYPT_SALT_ROUND=10

# Super Admin
SUPER_ADMIN_EMAIL=your_admin_email
SUPER_ADMIN_PASSWORD=your_admin_password

# Google Auth
GOOGLE_CLIENT_SECRET=your_google_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CALLBACK=http://localhost:5000/api/v1/auth/google/callback

FONTEND_URL=http://localhost:5173

# Express Session
EXPRESS_SESSION_SECRET=your_session_secret

# SSLCommerz
SSL_STORE_ID=your_ssl_store_id
SSL_STORE_PASS=your_ssl_store_pass
SSL_PAYMENT_API=https://sandbox.sslcommerz.com/gwprocess/v3/api.php
SSL_VALIDATION_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php

SSL_SUCCESS_BACKEND_URL=http://localhost:5000/api/v1/payment/success
SSL_FAIL_BACKEND_URL=http://localhost:5000/api/v1/payment/fail
SSL_CANCEL_BACKEND_URL=http://localhost:5000/api/v1/payment/cancel

SSL_SUCCESS_FRONTEND_URL=http://localhost:5173/payment/success
SSL_FAIL_FRONTEND_URL=http://localhost:5173/payment/fail
SSL_CANCEL_FRONTEND_URL=http://localhost:5173/payment/cancel

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloud_api_key
CLOUDINARY_SECRECT_KEY=your_cloud_secret_key

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_app_password
SMTP_FROM=your_email@gmail.com

# Redis
REDIS_PORT=11390
REDIS_HOST=your_redis_host
REDIS_PASS=your_redis_pass
REDIS_USERNAME=default
